.credential_container {
    display: flex;
    justify-content: space-between;
}

.credential_text {
    color: #1A1A1A;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.credential_description {
    color: #1A1A1A;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}